@model IEnumerable<DeTai.KHACHHANG>

@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>DANH SÁCH KHÁCH HÀNG THÂN THIẾT</h3>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead class="thread">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MAKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TENKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MATHUCUNG)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MAKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TENKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MATHUCUNG)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MAKH }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MAKH })
                </td>
            </tr>
        }
    </tbody>
</table>
